extends templates/layout.pug
block variables
  -var title = 'Contact Smith Projects'
block content
  header
    div.menu-btn
      span.menu-btn__burger
    nav.nav
      ul.menu-nav
        li.menu-nav__item
          a(class="menu-nav__link", href="index.html") Home
        li.menu-nav__item
          a(class="menu-nav__link", href="about.html") About Me
        li.menu-nav__item
          a(class="menu-nav__link", href="projects.html") My Projects         
        li(class=["menu-nav__item","active"])
          a(class="menu-nav__link", href="contact.html") Contact Me
  main
    section.contact
      h2 Contact Me..
      .contact__list
        .contact__email
          i(class=['fas', 'fa-envelope']) Email
          .text-secondary email@email.com
        .contact__phone
          i(class=['fas', 'fa-mobile-alt']) Phone
          .text-secondary +1 (555) 555-5555
        .contact__address
          i(class=['fas', 'fa-map-marker-alt']) Address
          .text-secondary 123 First St. Housto, TX

      .social-icons
        a(href='#')
          i(class=['fab fa-twitter fa-2x'])
        a(href='#')
          i(class=['fab fa-facebook fa-2x'])
        a(href='#')
          i(class=['fab fa-instagram fa-2x'])
        a(href='#')
          i(class=['fab fa-github fa-2x'])