extends templates/layout.pug
block variables
  -var title = 'Contact Smith Projects'
block content
  main
    section.contact
      h2 Contact Me..
      .contact__list
        .contact__email
          i(class=['fas', 'fa-envelope']) Email
          .text-secondary email@email.com
        .contact__phone
          i(class=['fas', 'fa-mobile-alt']) Phone
          .text-secondary +1 (555) 555-5555
        .contact__address
          i(class=['fas', 'fa-map-marker-alt']) Address
          .text-secondary 123 First St. Housto, TX