extends templates/layout.pug
block variables
  - var title = 'Mike Smith Portfolio';

block content
  main
    section.home
      h2 Hi My Name Is
      h1.home__name
        | Mike
        span.home__name--last Smith
      h2 Web Developer, Designer & Programmer
