extends templates/layout.pug
block variables
  - var title = 'Mike Smith Portfolio';

block content
  header
    div.menu-btn
      span.menu-btn__burger
    nav.nav
      ul.menu-nav
        li(class=["menu-nav__item", "active"])
          a(class="menu-nav__link", href="index.html") Home
        li.menu-nav__item
          a(class="menu-nav__link", href="about.html") About Me
        li.menu-nav__item
          a(class="menu-nav__link", href="projects.html") My Projects
        li.menu-nav__item
          a(class="menu-nav__link", href="contact.html") Contact Me
  main
    section.home
      h2 Hi My Name Is
      h1.home__name
        | Mike
        span.home__name--last Smith
      h2 Web Developer, Designer & Programmer

      .social-icons
        a(href='#')
          i(class=['fab fa-twitter fa-2x'])
        a(href='#')
          i(class=['fab fa-facebook fa-2x'])
        a(href='#')
          i(class=['fab fa-instagram fa-2x'])
        a(href='#')
          i(class=['fab fa-github fa-2x'])
